/packages
/Project.Web/bin
/Project.Web/obj
/Project.Test/bin
/Project.Test/obj
/Project.Service/bin
/Project.Service/obj
/Project.Model/obj
/Project.Model/bin
/Project.Data/obj
/Project.Data/bin
/Project.Core/obj
/Project.Core/bin
/Project.v12.suo
/Crytex.Admin/obj
/Crytex.Admin/bin
/Crytex.Client/obj
/Crytex.Client/bin
/TestApp/obj
/TestApp/bin
/Crytex.Background/obj
/Crytex.Background/bin
/Crytex.LogSystem/obj
/Crytex.LogSystem/bin
/Crytex.WCF.Receiver/obj
/Crytex.WCF.Receiver/bin
/Crytex.ExecutorTask/obj
/Crytex.ExecutorTask/bin
/WpfApplication1/bin
/WpfApplication1/obj
/Crytex.ControlApp/obj
/Crytex.ControlApp/bin
/TaskExecutorConsoleTest/bin
/TaskExecutorConsoleTest/obj
