/packages
/Crytex.Web/bin
/Crytex.Web/obj
/Crytex.Test/bin
/Crytex.Test/obj
/Crytex.Service/bin
/Crytex.Service/obj
/Crytex.Model/obj
/Crytex.Model/bin
/Crytex.Data/obj
/Crytex.Data/bin
/Crytex.Core/obj
/Crytex.Core/bin
/Crytex.v12.suo
/Crytex.Admin/obj
/Crytex.Admin/bin
/Crytex.Client/obj
/Crytex.Client/bin
/TestApp/obj
/TestApp/bin
/Crytex.Background/obj
/Crytex.Background/bin
/Crytex.LogSystem/obj
/Crytex.LogSystem/bin
/Crytex.WCF.Receiver/obj
/Crytex.WCF.Receiver/bin
/Crytex.ExecutorTask/obj
/Crytex.ExecutorTask/bin
/WpfApplication1/bin
/WpfApplication1/obj
/Crytex.ControlApp/obj
/Crytex.ControlApp/bin
/TaskExecutorConsoleTest/bin
/TaskExecutorConsoleTest/obj
.vs/config/applicationhost.config
.vs/Crytex/v14/.suo
/Crytex.Web/connectionStrings.config
/Crytex.Notification/bin/Debug
/Crytex.Notification/obj/Debug
/Crytex.Web/NLog.config
/Project.v12.suo
/Crytex.Web/App_Data
