<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Fatal" internalLogFile="C:\temp\nlog-internal.log" >
    <extensions>
        <add assembly="NLog.Extended" />
    </extensions>
<targets async="true">
      <target xsi:type="Database"
                  name="database"
                  connectionStringName="DefaultConnection"
                  commandText="INSERT INTO 
                  [dbo].[LogEntries] ([UserId], [Date], [Level], [Message], [StackTrace], [Source]) VALUES 
                  (case when len(@UserID) = 0 then null else @UserId end, 
                  @Date, 
                  @Level,
                  case when len(@Message) = 0 then null else @Message end, 
                  case when len(@StackTrace) = 0 then null else @StackTrace end,
                  case when len(@Source) = 0 then null else @Source end);">
        
        <parameter name="@UserId" layout="${mdc:user_id}" />
        <parameter name="@Date" layout="${longdate}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
        <parameter name="@Source" layout="${mdc:source}" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="database" />
    </rules>
</nlog>